@use "@/styles/variables.scss" as v;
.container {
    width: 100%;
    height: auto;
    padding: 10px;
    > button {
        all: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        cursor: pointer;
        > svg {
            width: 25px;
            height: 25px;
            color: v.$subColor2;
            margin-right: 5px;
        }
        span {
            font-size: 14px;
            font-weight: bold;
        }
    }
    > table {
        width: 100%;
        text-align: center;
        position: relative;
        border-collapse: separate;
        > caption {
            padding: 10px;
            background-color: v.$lightGray;
            font-weight: bold;
            border: 2px solid #fff;
        }
        > thead {
            > tr {
                > th {
                    background-color: v.$subColor2;
                    color: #fff;
                }
            }
        }
        > tbody {
            > tr {
                > td {
                    background-color: #efefef;
                }
            }
        }
    }
}

.modalInput {
    width: 100%;
    padding: 0 16px;
    font-size: 1rem;
    height: 2.5rem;
    border-radius: 0.375rem;
    border: 1px solid #e2e8f0;
    outline: 2px solid transparent;
    outline-offset: 2px;
    &:focus {
        border-color: #3182ce;
        box-shadow: 0 0 0 1px #3182ce;
    }
}
