* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body {
    height: auto;
    font-family: "Noto Sans KR", "Noto Sans";
}

a {
    text-decoration: none;
    color: #000;
}

#__next {
    height: 100%;
}
